<!DOCTYPE html>
<html lang="en">
<head>
  <title>Your Workout Tracking Website</title>
    <link rel="stylesheet" type="text/css" href="/static/homepage.css">
  <!-- Add your CSS stylesheets and other meta tags here -->
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/workout">Workouts</a></li>
        <li><a href="/routines">Routines</a></li>
        <li><a href="/progress">Progress</a></li>
        <li><a href="#">Community</a></li>

      </ul>
    </nav>
  </header>
  <!-- Rest of your website content goes here -->
</body>
</html>
