<!DOCTYPE html>
<html lang="en">
<head>
  <title>Your Workout Tracking Website</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/homepage.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/workout">Workouts</a></li>
        <li><a href="/routines">Routines</a></li>
        <li><a href="/progress">Progress</a></li>
        <li><a href="#">Community</a></li>

      </ul>
    </nav>
  </header>

  <div class="main-container">
    <div class="txt-container">
      <p class="text">Are you ready to workout!?!</p>
    </div>
    <div class="main-slideshow">
      <div class="slidesSection">
        <img class="slides" src="/static/images/workout1.gif" alt="workout1"
             width="600px" height="485px"/>
        <img class="slides" src="/static/images/workout2.gif" alt="workout2"
        width="600px" height="485px"/>
        <img class="slides" src="/static/images/workout3.gif" alt="workout3"
        width="600px" height="485px"/>
        <img class="slides" src="/static/images/workout4.gif" alt="workout4"
        width="600px" height="485px"/>
        <img class="slides" src="/static/images/workout5.gif" alt="workout5"
        width="600px" height="485px"/>
      </div>
    </div>
  </div>
<script src="/static/scripts/homepage.js"></script>
</body>
</html>
