<!DOCTYPE html>
<html>
<head>
    <title>Progress</title>
    <link rel="stylesheet" type="text/css" href="/static/progress.css">
</head>
<body>
    <h1>Workout Progress</h1>

    {% for workout in user.workouts %}
        <h2>{{ workout.name }}</h2>

        <table>
            <thead>
                <tr>
                    <th>Exercise</th>
                    <th>Reps</th>
                    <th>Sets</th>
                </tr>
            </thead>
            <tbody>
                {% for exercise in workout.exercises %}
                    <tr>
                        <td>{{ exercise.name }}</td>
                        <td>{{ exercise.reps }}</td>
                        <td>{{ exercise.sets }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
    <button onclick="window.location.href='/homepage'">Return to
            Homepage</button>
</body>
</html>
