<!DOCTYPE html>
<html>
<head>
    <title>Workout Progress</title>
</head>
<body>
    <h2>Workout Progress</h2>
    {% if user %}
    <table>
        <tr>
            <th>Name</th>
            <th>Reps</th>
            <th>Sets</th>
        </tr>
        {% for workout in user.workouts %}
        <tr>
            <td>{{ workout.name }}</td>
            <td>{{ workout.reps }}</td>
            <td>{{ workout.sets }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No workouts to display.</p>
    {% endif %}
</body>
</html>
