<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Workout</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/workout.css">
</head>
<body>
    <h1>Create Workout</h1>

    <form action="{{ url_for('work_out') }}" method="POST">
        <label for="workoutName">Workout Name:</label>
        <input type="text" id="workoutName" name="workoutName" required>
        <br><br>
        <div id="exercisesContainer">
            <div class="exercise">
                <label for="exerciseName">Exercise Name:</label>
                <input type="text" id="exerciseName" name="name[]" required>
                <label for="reps">Reps:</label>
                <input type="text" id="reps" name="reps[]" required>
                <label for="sets">Sets:</label>
                <input type="text" id="sets" name="sets[]" required>
                <br><br>
            </div>
        </div>
        <button type="button" onclick="addExercise()">Add Exercise</button>
        <br><br>
        <button type="submit">Save Workouts</button>
        <br><br>
        <button type="button" onclick="window.location.href='/homepage'">Return
        to Homepage</button>
    </form>



    <script>
        function addExercise() {
            const exerciseDiv = document.createElement("div");
            exerciseDiv.classList.add("exercise");
            exerciseDiv.innerHTML = `
                <label>Exercise Name:</label>
                <input type="text" name="name[]" required>
                <label>Reps:</label>
                <input type="text" name="reps[]" required>
                <label>Sets:</label>
                <input type="text" name="sets[]" required>
                <br><br>
            `;
            document.getElementById("exercisesContainer").appendChild(exerciseDiv);
        }
    </script>


</body>
</html>
