body{
    background-color: #eee;
}
.container{
     background-color: white;
}
.img-smaller {
    width: auto; /* You can adjust this value to your desired size */
    height: auto; /* This ensures the aspect ratio is maintained */
  }
