/* Global Styles */

body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
}

/* Navigation Bar Styles */

header {
    font-size: 20px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    transition: height 0.3s, font-size 0.3s;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff0000;
}

/* Container and Card Styles */

.row {

    display: flex;
    flex-wrap: wrap; /* Allow the cards to wrap when the container width is reduced */
}

.yugioh-card {


    margin-bottom: 4rem; /* Add some spacing between the cards */
    height: 16rem;
    width: 11rem;
    background-size: cover;


    background-image: url("https://e1.pngegg.com/pngimages/779/772/png-clipart-jp-ygo-series-2-devamped-blanks-yu-gi-oh-trading-card-thumbnail.png");
}

.yugioh-card:hover {
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.15), 10px 10px 12px 24px rgba(0, 0, 0, 0.1);
}

.yugioh-card-title {
    text-shadow: 6px 1px 6px rgba(0, 0, 0, 0.1);

    height: 1rem;
    width: 8rem;
    margin-left: 1rem;

}
.yugioh-card-title p {
    text-transform: uppercase;
    font-family: 'TCG fonts', serif;
    font-size: 1rem;
    font-weight: bold;
    color: #555;
    line-height: 1.5;
    width: fit-content;
}

.yugioh-card-img {
    background-color: white;
    height:8.5rem;
    width:7.7rem;
    margin: 1rem 0 0.3rem 1.2rem;


}

.yugioh-card-img img {
    position: relative;
    width: auto;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.yugioh-card-text {
    margin-left: 0.5rem;
    height: 1.5rem;
    width: 5.5rem;

}


.yugioh-card-text p{
    font-family: 'MatrixFont', sans-serif;
    font-size: 0.4rem;
    color: #555;
    padding-left: 3px;



    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    width: fit-content;
}
@media (max-width: 768px) {
    .yugioh-card {
        width: 100%; /* Cards will take full width of the container */
        margin-bottom: 1rem; /* Add some spacing between the cards */
    }
}
