body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #000046, #1cb5e0);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: black;
    margin-top: 20px;
}

.routine-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.routine{
    text-align: center;

}
hr{
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
}

button {
    position:relative;
    left: 40.5%;
    width: 20%;
    height: 34px;
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}